/* font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif; */
body {
font-family: "Roboto", sans-serif;
color: #434455;  
background-color: #ffffff;
}
ul, ol {
    list-style-type: none;
}
a{
    text-decoration: none;
}

.logo-header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-part{
color:#2e2f42;  
}

.footer-logo .logo-part {
  color: #f4f4fd; 
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

 
.section-hero {
background-color: #2e2f42;


}
.hero-title{
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #ffffff;
text-align: center;
}

.button{
    cursor: pointer;
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    
    
}
 .button:hover,
 .button:focus{
    background-color: #404BBF
 }
   
.adventures-title{
font-weight: 500;
font-size: 20px ;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.adventures-item-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}  
.adventures-item-description{
 font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.section-team{
background-color: #f4f4fd;
}
.team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize
}   
.team-item-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;   
}
.team-item{
background-color: #FFFFFF     
}
.team-item-descriprion{
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.section-portfolio{

}
.portfolio-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}
.portfolio-item-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-item-description{
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}
.page-footer{
    background-color: #2e2f42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
.logo-footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.03em;
}
.logo-part{
color: #f4f4fd  
}

.footer-description{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}